*{
    padding:0;
    margin:0;
}
li{
    list-style:none;
}
ul{
    background:rgb(95, 199, 247);
    width:250px;
    z-index: 0;
    float:left;
}
b{
    display:block;
    width:500px;
    height:40px;
    background:rgb(24,122,173);
}
ul li{
    height:32px;
}
ul li:hover{
    height:32px;
    background:rgb(95, 125, 221);
}
#context{
    position:absolute;
}
#nav2 ul{
    position:relative;
    left:0;
    background:rgb(124, 158, 231);
    visibility:hidden;
} 

#nav3{
    float: right 20%;
    left:0;
    background:rgb(124, 158, 231);
    visibility:hidden;
} 

